/* html,
body {
    padding: 0px;
    margin: 0px;
    background-image: url('imgs/bg1.jpg');
    background-image: url('http://18.221.57.172:8000/static/images/default/bg1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
} */

#box {
    position: fixed;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: #000000;
    top: 90%;
    left: 94%;
    cursor: pointer;
    z-index: 999;
    transition: all .4s ease-in-out;
}

#box img {
    position: absolute;
    height: 40px;
    width: 40px;
    top: 10px;
    left: 10px
}

#chat-box {
    position: fixed;
    height: 500px;
    width: 380px;
    background: #fff;
    top: 100px;
    left: 71%;
    z-index: 9;
    overflow: hidden;
    border-radius: 14px;
    display: none;
    box-shadow: 0px 1px 14px #000000;
}

#chat-box #mydiv {
    position: absolute;
    height: 150px;
    width: 150px;
    /* background: #000000; */
    transform: rotate(45deg);
    top: -79px;
    left: -77px;
}

#demo {
    margin-left: 100px;
}

#chat-box #mydiv #icon {
    position: absolute;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    top: 49px;
    left: 119px;
    border: 1px solid #000000;
    background: #fff;
}

#chat-box #mydiv #icon img {
    position: absolute;
    height: 65px;
    width: 68px;
    border-radius: 50%;
    transform: rotate(315deg);
    top: -2px;
    left: -3px;
}

#chat-box #minimize {
    position: absolute;
    height: 5px;
    width: 20px;
    background: rgb(170, 169, 169);
    left: 341px;
    top: 16px;
    cursor: pointer;
}
#chat-box h4 {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;
    left: 88px;
    top: 35px;
    color: rgba(150, 149, 149, 0.7);
    font-weight: 600;
}

p {
    margin-bottom: 0 !important;
}

#chat-box #inputs {
    position: absolute;
    width: 100%;
    top: 90px;
}

#chat-box #inputs input {
    height: 25px;
    /* width: 40% !important; */
    font-size: 13px;
	padding-left:5px !important;
	padding-bottom:20px;
	padding-right:5px !important;
	padding-top: 0px !important;
	font-weight: normal;
    color: #000000;
    margin: 2px;
    /* border-radius: 10%; */
    border: 1px solid #000000 !important;
    background: #fff;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* #chat-box #inputs input {
    position: absolute;
    height: 40px;
    width: 320px;
    left: 22px;
    margin-top: 18px;
    font-family: "lato", sans-serif;
    font-size: 18px;
    padding: 0px 8px;
    border: 0px;
    background: rgb(248, 245, 245)
}

#chat-box #inputs textarea {
    position: absolute;
    background: rgb(248, 245, 245);
    font-family: 'lato', sans-serif;
    font-size: 18px;
    padding: 2px 10px;
    left: 24px;
    border: 0px
} */

#chat-box #inputs img {
    margin: 5px;
    /* border: 1px solid #000000 !important; */
    background: #fff;
    overflow-x: auto;
}

.received-chats .received-chats-img img,
.outgoing-chats .outgoing-chats-img img,
.received-chats-error .received-chats-img-error img,
.outgoing-chats-error .outgoing-chats-img-error img{
    max-width: 100%;
    border-radius: 50%;
}

.msg-page{
    height: 360px;
    overflow-y: auto;
}
.received-chats,.received-chats-error {
    padding: 12px;
}
.received-chats-img, .received-chats-img-error{
    /* display: inline-block; */
    width: 20px;
    float: left;
}
.received-msg,.received-msg-error{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}
.received-msg-inbox, .received-msg-inbox-error{
    width: 100%;
}
.received-msg-inbox, .received-msg-inbox-error {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 10px;
    width: 100%;
}
.time{
    color: #777;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}
.outgoing-chats{
    overflow: hidden;
    margin: 10px 10px;
}
.outgoing-chats-msg p{
    /* background: #FF081A none repeat scroll 0 0; */
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px;
    width: 100%;
}
.outgoing-chats-msg{
    float: left;
    width: 46%;
    margin-left: 45%;
}
.outgoing-chats-img{
    display: inline-block;
    width: 20px;
    float: right;
}
.msg-bottom{
    width: 100%;
    position: absolute;
    top: 90%;
    height: 10%;
    /* background-color: #000000; */
}
.file-bottom {
    width: 100%;
    position: absolute;
    top: 90%;
    height: 10%;
    margin: 10px;
}

.input-group{
    float: right;
    margin-top: 6px;
    outline: none !important;
    border-radius: 20px;
    background-color: #fff;
}
.form-control{
    border: none !important;
    border-radius: 20px !important;
}
.input-group-text{
    background: transparent !important;
    border: none !important;
}
.input-group .fa{
    color: #000000;
    float: right;
}
.bottom-icons{
    float: left;
    margin-top: 17px;
    width: 30% !important;
    margin-left: 22px;
}
.bottom-icons .fa{
    color: #fff;
    padding: 5px;
}
.form-control:focus{
    border-color: none !important;
    box-shadow: none !important;
    border-radius: 20px;
}
.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid blue;
    border-right: 6px solid green;
    border-bottom: 6px solid red;
    border-left: 6px solid pink;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }